html,body{
    height: 100%;
    width: 100%;
}

header,footer,.container{
    text-align: center;
}


h1 {
    color: black;
    text-shadow: 2px 3px 5px gray;
  }

.container{
    padding: 60px;
}

.row{
    margin: 8px 0px;
}

.button{
    margin: 2px 5px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 66px;
}

.row input {
    padding: 5px 2px;
    margin: 0px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    width: 295px;
  }